<a href="https://colab.research.google.com/github/Harsh-Gehlot/github-slideshow/blob/main/pandas_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame({"State":["Mh", "Rj", "Wb"],'Active':['West','North','South'],
                   'Recovered':['Costco','Walmart','Home Depot']
                   })
print(df)

  State Active   Recovered
0    Mh   West      Costco
1    Rj  North     Walmart
2    Wb  South  Home Depot

In [ ]:
df = df.set_index('State')

In [ ]:
print(df)

      Active   Recovered
State
Mh      West      Costco
Rj     North     Walmart
Wb     South  Home Depot

In [ ]:
list(df.index.values)

[0, 1, 2]

In [ ]:
# idx = df.Index(['MH', 'Rj', 'WB', 'Kerala'])
df.index.values = (['MH', 'Rj', 'WB'])

AttributeError: ignored

In [ ]:
index = df.loc[df['State'] == 'Rj'].index.values[0]
df.at[index, "Death"] = 21

1

In [ ]:
df.at['Rj', "Death"] = 21

In [ ]:
df

      Active   Recovered  Death
State
Mh      West      Costco    NaN
Rj     North     Walmart   21.0
Wb     South  Home Depot    NaN

In [ ]:
data = []
index = [4,2,6,8,7]
print(len(index))
for i in index:
  data.append(2*i)
# data   
# series = pd.Series(data, index = [4,2,6,8,7])
# series
# for i in series:
  # print(i)
  # series.index.values = i*2
# print(series)

5

In [ ]:
data

[8, 4, 12, 16, 14]

In [ ]:
series = pd.Series(data, index = [4,2,6,8,7])
series

4     8
2     4
6    12
8    16
7    14
dtype: int64

In [ ]:
result = series.quantile(q = 0.25)
result

8.0

In [ ]:
sum = 0
for i in series:
  sum += i
print(sum)

54

In [ ]:
import tensorflow as tf
x = tf.constant([1, 4, 7])
y = tf.constant([2, 5, 8])
z = tf.constant([3, 6, 9])
tf.stack([x, y, z], axis =1)

<tf.Tensor: shape=(3, 3), dtype=int32, numpy=
array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]], dtype=int32)>